<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
<main>
    <div>
        <h1>
            {{ details.name }}
        </h1>
        <a href="{% url 'todo_list_update' details.id %}">Edit</a>
        <a href="{% url 'todo_list_delete' details.id %}">Delete</a>
        <h2>
            Tasks
        </h2>
    </div>
    <table>
        <thead>
            <tr>
                <td>Task</td>
                <td>Due Date</td>
            </tr>
        </thead>
        <tbody>
            {% for item in details.items.all %}
            <tr>
                <td>
                    <a href = "{% url 'todo_item_update' item.id %}">{{ item.task}}</a>
                </td>
                <td>
                    {{ item.due_date|date:"M j, Y" }}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</main>

</body>
</html>
