<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
<main>
    <div>
    <h1>
        My Lists
    </h1>
    <a href="{% url 'todo_list_create' %}">Create a new list</a>
    <a href="{% url 'todo_item_create'  %}">Create a new task</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lists%}
            <tr>
                <td><a href="{% url 'todo_list_detail' item.id %}">{{item.name}}</a></td>
                <td>{{item.items.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</div>
</body>
</html>
